<div class="ui clearing segment">
  <h3 class="ui left floated header">Expenses</h3>  
  <h3 class="ui right floated header">
    <%= link_to 'New Expense', new_expense_path, class: 'ui primary button' %>
  </h3>
</div>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Category</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense[:company_name] %></td>
        <td><%= expense[:expense_category] %></td>
        <td><%= expense[:debit_date] %></td>
        <td><%= number_to_currency expense[:debit] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

